.about {
    margin-bottom: 100px;

    .aboutBodyText {
        width: 50%;
        margin-left: 350px;

        p:first-of-type {
            margin: 20px auto;
        }

        .particle {
            position: relative;
            bottom: 300px;
            left: 500px;
            animation: particleGrow 3s linear infinite;
        }
    }

    .aboutParticles {

        .particle,
        .arrow {
            position: relative;
            bottom: 120px;
            animation: particleGrow 3s linear infinite;

            &:first-of-type {
                left: 20px;
            }

            &:nth-of-type(2) {
                bottom: 50px;
            }
        }

        .arrow {
            left: 180px;
            animation: none;
        }
    }
}