.about {
    margin-bottom: 100px;

    .aboutBodyText {
        width: 50%;
        margin-left: 300px;

        p:first-of-type {
            margin: 20px auto;

        }
    }

    .aboutParticles {

        .particle,
        .arrow {
            position: relative;
            bottom: 120px;

            &:first-of-type {
                left: 20px;
            }

            &:nth-of-type(2) {
                bottom: 50px;
            }
        }

        .arrow {
            left: 180px;
        }
    }
}