.faq {
    margin-top: 500px;

    ul {
        margin: 90px 0 0 350px;
    }

    button {
        all: unset;
        color: darkorange;
        font-size: 2rem;
    }

    .hiddenText {
        font-size: .8rem;
        font-weight: normal;
    }

    li {
        margin-bottom: 50px;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        width: 75%;
    }

    .wave,
    .particle {
        position: relative;
    }

    .wave {
        top: 700px;
        left: -300px;
    }

    .particle {
        top: 200px;
    }
}