.faq {
    margin: 500px auto 100px;

    ul {
        margin: 90px 0 0 350px;
    }

    .faqFlex {
        display: flex;
        justify-content: space-between;
    }

    .openText {
        all: unset;
        color: darkorange;
        font-size: 2rem;
        cursor: pointer;
    }

    .hiddenText {
        font-size: .8rem;
        font-weight: normal;
        display: none;
        margin-top: 20px;
    }

    .fa-x {
        display: none;
    }

    li {
        margin-bottom: 50px;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        width: 75%;
    }

    .wave,
    .particle {
        position: relative;
    }

    .wave {
        top: 700px;
        left: -300px;
    }

    .particle {
        top: 200px;
        animation: particleGrow 3s linear infinite;
    }

    .hiddenText.hide {
        display: block;
    }

    .openText.hide {
        .fa-plus {
            display: none;
        }

        .fa-x {
            display: block;
        }
    }
}