.favourite {

    .favouriteText {
        margin-bottom: 50px;
    }
}

// collection gallery
.collection {
    display: flex;
    flex-wrap: wrap;

    li {
        margin: 10px;
        width: calc((100% / 5) - 20px);
    }

    img {
        border-radius: 50px;
    }
}