header {
    position: relative;
    padding-top: 150px;
    overflow-x: clip;

    .headerText {
        margin-left: 300px;
    }

    .wave {
        position: relative;
        left: 150px;
        bottom: 60px;
    }

    .cameraFigure {
        position: relative;
        left: 10px;
        bottom: 200px;
        transition: .3s ease;
        animation: floatReverse 3s linear infinite;
    }

    .collect {
        display: flex;
        align-items: Center;
    }

    .collect::before {
        content: url('../../../assets/line.png');
        position: relative;
        bottom: 20px;
        margin-right: 10px;
    }


    .circleSmall {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        border: 1px solid rgb(255, 140, 0, 0.3);
        position: absolute;
        top: 100px;
        z-index: -10;
        right: 260px;

    }

    .ghost {
        position: relative;
        top: 50px;
        left: 110px;
        animation: float 3.5s linear infinite;
    }

    .particle {
        position: relative;
        bottom: 360px;
        left: 250px;
        animation: particleGrow 3s linear infinite;
    }

    .circleMedium {
        width: 800px;
        height: 800px;
        border-radius: 50%;
        border: .2px solid rgb(255, 140, 0, 0.3);
        position: absolute;
        top: -40px;
        z-index: -10;
        right: 90px;

        .ghost {
            position: relative;
            top: 500px;
            left: 0;
        }

        .particle {
            position: relative;
            left: 600px;
        }
    }

    .circleLarge {
        width: 1100px;
        height: 1100px;
        border-radius: 50%;
        border: .2px solid rgb(255, 140, 0, 0.3);
        position: absolute;
        top: -180px;
        z-index: -10;
        right: -50px;

        .ghost {
            position: relative;
            top: 40px;
            left: 30px;
        }

        .particle {
            position: relative;
            top: 600px;
            left: 250px;
        }

        .blueHairFigure {
            position: relative;
            left: 690px;
            top: 400px;
            animation: floatReverse 3s linear infinite;
        }
    }
}