@media(max-width:1605px) {
    //typography 

    h1 {
        font-size: 4.5rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    //header 
    header {
        .headerText {
            margin-left: 100px;
        }

        .cameraFigure {
            display: none;
        }

        margin-bottom:300px;
    }
}

@media(max-width:1535px) {

    //favourite
    .collection {
        justify-content: center;

        img {
            width: 300px;
        }
    }

    //join us
    .join {
        .circleSmall {
            right: 250px;
        }

        .circleMedium {
            right: 150px;
        }

        .circleLarge {
            right: 60px;
        }

        .circleLarger {
            right: -20px;
        }
    }

    //faq 
    .faq {
        ul {
            margin-left: 0;
            margin-top: 20px;
        }

        li {
            width: 100%;
        }

        .particle {
            top: -100px;
            left: 500px;
        }
    }
}

@media(max-width:1200px) {

    //general {
    button {
        font-size: 1rem;
    }

    // nav 
    nav {
        .navFlex {
            .hamburger {
                right: 50px;
            }
        }

        .navMenu {
            padding: 100px;
        }
    }

    //header 
    header {
        margin-top: 300px;

        .wave {
            display: none;
        }

        .headerText {
            position: relative;
            bottom: 360px;
        }
    }

    //about
    .about {
        padding-top: 100px;

        .aboutBodyText {
            margin: 0;
            width: 70%;
        }

        .aboutParticles {

            .particle,
            .arrow {
                bottom: -20px;

                &:first-of-type {
                    left: 60px;
                }

                &:nth-of-type(2) {
                    bottom: 50px;
                }
            }
        }
    }

    //favourite
    .collection {
        justify-content: center;

        li {
            margin: 5px;
        }

        img {
            width: 200px;
        }
    }

    //roadmap 
    .roadmap {
        .arrow {
            display: none;
        }

        li,
        .phase2 {
            flex-direction: column;
            margin-bottom: 450px;
            align-items: flex-start;
        }

        .phase1Text,
        .phase2Text {
            margin-bottom: 50px;
            text-align: justify;

            h4,
            h5 {
                margin-left: auto;
            }

            p {
                margin: 0;
                text-align: justify;
            }
        }
    }

    //join us
    .join {
        .joinText {
            p {
                display: none;
            }
        }

        .circleSmall {
            right: 100px;
        }

        .circleMedium {
            right: 20px;
        }

        .circleLarge {
            right: -80px;
        }

        .circleLarger {
            display: none;
        }
    }

    //follow us
    .followUs {
        .socials {
            flex-direction: column;

            li {
                margin: 20px auto;
            }
        }
    }
}

@media (max-width:770px) {

    //typography 
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    p {
        font-size: .9rem;
    }

    //nav 
    nav {
        .navFlex {

            // logo
            .logo {
                width: 120px;
            }
        }

        .navMenu {
            a {
                font-size: 2rem;
            }
        }

        .navSocials {
            li:not(:first-of-type) {
                margin-left: 50px;
            }
        }

        .navFigure {
            img {
                width: 200px;
            }

            left:200px;
        }
    }

    //header
    header {
        .headerText {
            margin-left: 20px;
        }

        .circleSmall {
            right: 100px;
        }

        .circleMedium {
            right: -50px;
        }

        .circleLarge {
            right: -200px;

            .blueHairFigure {
                width: 20%;
                left: 600px;
                top: 500px;
            }
        }
    }

    //about
    .about {
        padding-top: 200px;

        .aboutBodyText {
            width: 100%;
        }
    }

    //favourite
    .collection {
        display: flex;

        li {
            margin: 10px auto;
            width: 60%;

            img {
                width: 100%;
            }
        }
    }

    //roadmap
    .roadmap {
        li {
            img {
                width: 400px;
                left: 50px;
                bottom: 450px;
            }
        }

        .phase2 {
            img {
                width: 250px;
            }
        }

        .phase1Text,
        .phase2Text {
            p {
                width: 100%;
            }
        }
    }

    //join us
    .join {
        .circleSmall {
            right: 20px;
            width: 450px;
            height: 450px;
        }

        .circleMedium {
            width: 600px;
            height: 600px;
            right: -60px;
            top: 10px;
        }

        .circleLarge {
            width: 800px;
            height: 800px;
            right: -150px;
        }
    }
}

@media (max-width:600px) {

    // nav {
    nav {
        .navFigure {
            left: 90px;
            top: 50px;
        }
    }

    //header
    header {
        .circleSmall {
            right: 30px;

            .ghost {
                width: 50%;
                top: 100px;
            }
        }

        .circleMedium {
            right: -100px;
        }

        .circleLarge {
            right: -250px;
        }
    }

    //roadmap
    .roadmap {

        .phase1Box,
        .phase2Box {
            width: 350px;
            height: 350px;
        }

        li {
            align-items: center;

            img {
                width: 350px;
                left: 10px;
                bottom: 350px;
            }
        }

        .phase2 {
            align-items: center;

            img {
                width: 220px;
                bottom: 420px;
            }
        }

        .phase1Text,
        .phase2Text {
            p {
                width: 100%;
            }
        }
    }

    //join us
    .join {
        .circleSmall {
            right: 55px;
            top: 150px;
            width: 300px;
            height: 300px;
        }

        .circleMedium {
            width: 500px;
            height: 500px;
            right: -30px;
            top: 50px;
        }

        .circleLarge {
            width: 650px;
            height: 650px;
            right: -100px;
            top: -10px;

            .commuter4 {
                top: 390px;
                left: 65px;
            }
        }
    }

    //faq 
    .faq {
        .particle {
            left: 250px;
            top: -250px;
        }
    }
}

@media (max-width:480px) {

    //header
    header {
        .circleSmall {
            right: -30px;

            .ghost {
                width: 50%;
                top: 100px;
            }
        }

        .circleMedium {
            right: -150px;
        }

        .circleLarge {
            right: -300px;
        }
    }

    //join us
    .join {
        .circleSmall {
            right: 20px;
            top: 150px;
            width: 300px;
            height: 300px;
        }

        .circleMedium {
            width: 500px;
            height: 500px;
            right: -60px;
            top: 50px;
        }

        .circleLarge {
            width: 600px;
            height: 600px;
            right: -120px;
            top: -10px;

            .commuter4 {
                top: 390px;
                left: 65px;
            }
        }
    }
}

@media (max-width:400px) {

    //join us
    .join {
        .circleSmall {
            right: -10px;
            top: 150px;
            width: 300px;
            height: 300px;
        }

        .circleMedium {
            width: 400px;
            height: 400px;
            right: -60px;
            top: 90px;
        }

        .circleLarge {
            width: 500px;
            height: 500px;
            right: -100px;
            top: 30px;

            .commuter4 {
                top: 250px;
                left: 65px;
            }

            .commuter1 {
                top: 50px;
                left: 60px;
            }
        }
    }

    .faq {
        margin-top: 200px;
    }
}