@media(max-width:1605px) {
    //typography 

    h1 {
        font-size: 4.5rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    //header 
    header {
        .headerText {
            margin-left: 100px;
        }

        .cameraFigure {
            display: none;
        }

        margin-bottom:300px;
    }
}

@media(max-width:1535px) {

    //favourite
    .collection {
        justify-content: center;

        img {
            width: 300px;
        }
    }

    //join us
    // TODO: DEAL WITH CIRCLES
    .join {
        .circleSmall {
            right: 300px;
        }
    }
}

@media(max-width:1200px) {

    //general {
    button {
        font-size: 1rem;
    }

    // nav 
    nav {
        .navFlex {
            .hamburger {
                right: 50px;
            }
        }
    }

    //header 
    header {
        margin-top: 300px;

        .wave {
            display: none;
        }

        .headerText {
            position: relative;
            bottom: 360px;
        }
    }

    //about
    .about {
        padding-top: 100px;

        .aboutBodyText {
            margin: 0;
            width: 70%;
        }

        .aboutParticles {

            .particle,
            .arrow {
                bottom: -20px;

                &:first-of-type {
                    left: 60px;
                }

                &:nth-of-type(2) {
                    bottom: 50px;
                }
            }
        }
    }

    //favourite
    .collection {
        justify-content: center;

        li {
            margin: 5px;
        }

        img {
            width: 200px;
        }
    }

    //roadmap 
    .roadmap {
        .arrow {
            display: none;
        }

        li,
        .phase2 {
            flex-direction: column;
            margin-bottom: 450px;
            align-items: flex-start;
        }

        .phase1Text,
        .phase2Text {
            margin-bottom: 50px;
            text-align: justify;

            h4,
            h5 {
                margin-left: auto;
            }

            p {
                margin: 0;
                text-align: justify;
            }
        }
    }
}

@media (max-width:770px) {

    //typography 
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    p {
        font-size: .9rem;
    }

    //nav 
    nav {
        .navFlex {

            // logo
            img {
                width: 120px;
            }
        }
    }

    //header
    header {
        .headerText {
            margin-left: 20px;
        }

        .circleSmall {
            right: 100px;
        }

        .circleMedium {
            right: -50px;
        }

        .circleLarge {
            right: -200px;

            .blueHairFigure {
                width: 20%;
                left: 600px;
                top: 500px;
            }
        }
    }

    //about
    .about {
        padding-top: 200px;

        .aboutBodyText {
            width: 100%;
        }
    }

    //favourite
    .collection {
        display: flex;

        li {
            margin: 10px auto;
            width: 60%;

            img {
                width: 100%;
            }
        }
    }

    //roadmap
    .roadmap {
        li {
            img {
                width: 400px;
                left: 50px;
                bottom: 450px;
            }
        }

        .phase2 {
            img {
                width: 250px;
            }
        }

        .phase1Text,
        .phase2Text {
            p {
                width: 100%;
            }
        }
    }
}

@media (max-width:600px) {

    //header
    header {
        .circleSmall {
            right: 30px;

            .ghost {
                width: 50%;
                top: 100px;
            }
        }

        .circleMedium {
            right: -100px;
        }

        .circleLarge {
            right: -250px;
        }
    }

    //roadmap
    .roadmap {

        .phase1Box,
        .phase2Box {
            width: 350px;
            height: 350px;
        }

        li {
            align-items: center;

            img {
                width: 350px;
                left: 10px;
                bottom: 350px;
            }
        }

        .phase2 {
            align-items: center;

            img {
                width: 220px;
                bottom: 420px;
            }
        }

        .phase1Text,
        .phase2Text {
            p {
                width: 100%;
            }
        }
    }
}

@media (max-width:480px) {

    //header
    header {
        .circleSmall {
            right: -30px;

            .ghost {
                width: 50%;
                top: 100px;
            }
        }

        .circleMedium {
            right: -150px;
        }

        .circleLarge {
            right: -300px;
        }
    }
}