@use './variables';

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&family=Righteous&display=swap');

html {
    font-size: 125%;
}

body {
    font-family: variables.$bodyFont;
    font-size: 1.2rem;
}

h1,
h2,
h3,
h5 {
    font-family: variables.$headerFont;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}


h1 {
    font-size: 6rem;
}

h2 {
    color: darkorange;
    font-size: 1.2rem;
    font-weight: lighter;

    &::after {
        content: url('../../../assets/line.png');
        position: relative;
        bottom: 3px;
        margin-left: 10px;
    }
}

h3 {
    font-size: 4.5rem;
}

h4 {
    font-size: 1.5rem;
    color: darkorange;
    font-weight: lighter;
}

h5 {
    font-size: 3rem;
}